.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  height:max-content;
  position:absolute;
  overflow-y: scroll;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  display:flex;
  flex: 1fr
  
}

.MainContainer {
  display:flex;
  flex: 8fr;
  width:100%;
 
}

.Footer{
  display:flex;
  flex: 1fr;
  position:sticky;
}

.Personal {
  display:flex;
  flex-direction:column;
  position:sticky;

}

input {
  margin:5px;
}

img {
  width:150px;
  height:150px;
}

.RightContainer{
  display:flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  max-height: 11in ;
  min-width: 8.5in;
  border: 2px solid red;
}

.rTopBanner {
  background-color:aqua;
}

.rRightColumn{
  display:flex;
  flex-direction:column;
  width: 50%;
  margin-right: 10%;
  margin-left: 10%;
}

.rContainer{

  display:flex;


}

.rLeftContent {
  display:flex;
  flex-direction: column;
  width:6.5in;
}

.rDescription {
  margin:10px;
  width:6in;
  max-height:500px;
  overflow-wrap:normal;
  word-wrap: break-word;
}

.rRightContent {
  display:flex;
  align-items: right;
  width:2in;
  flex-wrap:wrap
}
.LeftContainer {
  display:flex;
  flex-direction:column;
  width: 50%;
  margin-right: 10%;
  margin-left: 10%;
}

.expEntry {
  display:flex;
  flex-direction: column;
}

.eduEntry {
  display:flex;
  flex-direction: column;
}

.rExpEntry{
  display:flex;
  width:4in;
  justify-content: space-between;
}

.rEduEntry{
  display:flex;
  width:4in;
  justify-content: space-between;
}
